@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('/fonts/MinionPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'orpheusproMedium'; /* Choose a custom name for your font */
  src: url('/fonts/orpheuspro-medium.otf') format('opentype');
}

.MinionPro-Regular{
  font-family: 'MinionPro-Regular' !important;
}

.orpheusproMedium{
  font-family: 'orpheusproMedium' !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #000;
  font-family: 'MinionPro-Regular', Arial, Helvetica, sans-serif;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

  

.mainCon {
  margin-top: 100px;
}


header {
  background-color: #000;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: 'MinionPro-Regular';
}

main {
  padding: 2rem;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}


header li{
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 900px) {
  header li {
    font-size: 18px;
  }
}


.headLogo{
  margin-top: 0px;
}


.loadingContainer {
  display: flex;
  justify-content: center;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
  min-height: 100vh;        /* Full height of the viewport */
  font-size: 1.5rem;        /* Customize font size */
  color: #333;              /* Customize text color */
}


nav a {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s;
}

nav a:hover,
nav a:active {
  color: red; 
}

/* Optional: To indicate the current page */
nav .active {
  color: red; 
}
